@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cormorant+Garamond:ital,wght@0,400;0,600;0,700;1,400;1,700&family=Dancing+Script:wght@400;600;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&family=Open+Sans:wght@300;400;600;700;800&family=Oswald:wght@300&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,700&family=Quicksand:wght@400;500;600;700&family=Raleway:ital,wght@0,400;0,500;0,800;0,900;1,300;1,500;1,700;1,900&family=Roboto+Slab:wght@400;500;600;700;800;900&family=Roboto:wght@100;400;500;700;900&family=Spectral:ital,wght@0,400;0,600;0,800;1,800&display=swap");

body {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  margin-top: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
  font-weight: 300;
  color: #333;
}

p {
  line-height: 28px;
  margin-bottom: 45px;
}

.centered {
  text-align: center;
}

a {
  color: #f85c37;
}

a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar {
  font-weight: 800;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-inverse {
  background: #2d2d2d;
  border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #ff7878;
}

.navbar-inverse .navbar-brand {
  color: cornflowerblue;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 1px;
}

#headerwrap {
  background-image: url(/orqafon.svg);
  height: 740px;
  background-position: center;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  min-height: 500px;
  width: 100%;
  background-size: cover;
  -webkit-backdrop-size: center;
  -moz-background-size: center;
}

#headerwrap h1 {
  margin-top: 100px;
  color: #45c436;
  width: 280px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-align: initial;
}

#headerwrap h2 {
  color: black;
  font-size: 18px;
  margin-bottom: 15px;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 100;
  text-align: left;
}

.w {
  padding-top: 35px;
}

.w h4 {
  font-size: 25px;
}

#dg {
  background: #e0e0e0;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

#dg h4 {
  font-size: 40px;
  margin-bottom: 50px;
  font-weight: 100;
  font-family: unset;
}

.tilt {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tilt:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.wb {
  padding-top: 35px;
}

.wb h4 {
  font-size: 28px;
}

#lg {
  background: #ebebeb;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

#lg h4 {
  font-size: 45px;
}

#r {
  background: #ff7878;
  padding-top: 70px;
  padding-bottom: 70px;
}

#r h4 {
  color: white;
  font-size: 40px;
}

#r p {
  color: white;
}

#f {
  background: #2d2d2d;
  padding-top: 30px;
  padding-bottom: 20px;
}

#f i {
  color: #bdbdbd;
  font-size: 30px;
  padding: 20px;
}

.row {
  display: inherit;
}

.col-lg-15 {
  height: 500px;
  width: 370px;
  left: 775px;
  top: 1003px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px;
  margin-bottom: 80px;
}

.col-lg-15 h5 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #989897;
  transform: translate(0px, 70px);
  text-decoration: line-through;
}

.col-lg-15 h2 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #3caa2f;
  transform: translate(0px, 80px);
}

.col-lg-15 .btn {
  padding: 10px 35px;
  text-decoration: none;
  left: 0px;
  top: 0px;
  border-radius: 126px;
  background: linear-gradient(
      288.46deg,
      rgba(0, 0, 0, 0.2) -12.86%,
      rgba(0, 0, 0, 0) 66.5%
    ),
    linear-gradient(0deg, #45c436, #45c436);
  color: white;
  margin-top: 85px;
  border: solid 2px black;
}

.iphone12 {
  transform: translate(-50px, 90px);
}

.col-lg-8 span {
  color: black;
}

.now {
  display: flex;
  gap: 80px;
}

.know {
  border: solid 2px black;
  transform: translate(35px, 50px);
  border-radius: 10px;
}

.tilt h3 {
  font-size: 28px;
  font-weight: 100;
  font-family: unset;
  transform: translate(0px, 30px);
}

.tilt {
  height: 500px;
  border: solid 2px black;
  border-radius: 12px;
}

.mp {
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 1px;
  margin-left: -45px;
  color: #222222;
  margin-bottom: 40px;
}

.mp img {
  transform: translate(0px, 15px);
}

.mp span {
  color: rgba(42, 210, 0, 1);
}

.net {
  padding: 10px 10px;
  text-decoration: none;
  font-weight: 100;
  border-radius: 126px;
  background: linear-gradient(
      288.46deg,
      rgba(0, 0, 0, 0.2) -12.86%,
      rgba(0, 0, 0, 0) 66.5%
    ),
    linear-gradient(0deg, #45c436, #45c436);
  color: white;
  font-size: 15px;
}

.nt {
  padding: 10px 10px;
  text-decoration: none;
  font-weight: 100;
  border-radius: 126px;
  background: linear-gradient(
      288.46deg,
      rgba(0, 0, 0, 0.2) -12.86%,
      rgba(0, 0, 0, 0) 66.5%
    ),
    linear-gradient(0deg, #45c436, #45c436);
  color: white;
  font-size: 15px;
  transform: translate(90px, 10px);
}

.rowgin {
  transform: translate(0px, -50px);
}

.gl {
  width: 300px;
  height: 300px;
  background-image: url(/gl.svg);
}

.col-lg-10 .col-lg-offset-1 {
  width: 1170px;
  background: #ffff;
  box-shadow: 0px 0px 35px;
  border-radius: 12px;
}

.chiz {
  width: 150px;
  height: 13px;
  background: rgba(69, 196, 54, 1);
  border-radius: 89px;
}

.kj {
  width: 150px;
  height: 13px;
  border: solid 1px black;
  border-radius: 89px;
}

.colbg {
  display: flex;
  gap: 30px;
}

.fot {
  width: 160px;
  height: 160px;
  background: #ffff;
  border: solid 1px grey;
  border-radius: 9px;
}

.foti {
  width: 160px;
  height: 160px;
  background: #ffff;
  border: solid 1px grey;
  border-radius: 9px;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0.09)),
    linear-gradient(0deg, #45c436, #45c436),
    linear-gradient(
      226.35deg,
      rgba(255, 255, 255, 0.36) 0%,
      rgba(76, 230, 58, 0.36) 8.45%,
      rgba(255, 255, 255, 0.36) 17.62%,
      rgba(76, 230, 58, 0.36) 25.25%,
      rgba(255, 255, 255, 0.36) 31.87%,
      rgba(76, 230, 58, 0.36) 38.49%,
      rgba(255, 255, 255, 0.36) 45.62%,
      rgba(76, 230, 58, 0.36) 51.22%,
      rgba(255, 255, 255, 0.36) 59.36%,
      rgba(76, 230, 58, 0.36) 66.49%,
      rgba(255, 255, 255, 0.36) 73.11%,
      rgba(76, 230, 58, 0.36) 79.73%,
      rgba(255, 255, 255, 0.36) 86.35%,
      rgba(76, 230, 58, 0.36) 97.75%,
      rgba(255, 255, 255, 0.36) 97.75%
    );
}

.fot p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #222222;
  line-height: 20px;
}

.fot img {
  margin-top: 20px;
}

.good {
  font-size: 28px;
  font-weight: 100;
}

.col-lg-2 {
  margin-bottom: 20px;
}

.utf {
  padding: 15px 40px;
  text-decoration: none;
  font-weight: 100;
  border-radius: 126px;
  background: linear-gradient(
      288.46deg,
      rgba(0, 0, 0, 0.2) -12.86%,
      rgba(0, 0, 0, 0) 66.5%
    ),
    linear-gradient(0deg, #45c436, #45c436);
  color: white;
  font-size: 15px;
  margin-top: 30px;
}

@media only screen and (max-width: 430px) {
  .now {
    display: block;
    margin-left: 10px;
  }

  .kg {
    width: 403px;
    font-style: normal;
    font-weight: 200;
    font-size: 35px;
    line-height: 120%;
    text-align: center;
    color: #222222;
  }

  .look {
    display: grid;
    gap: 20px;
    margin-bottom: 20px;
    grid-template-columns: repeat(2, 2fr);
    margin-left: 20px;
  }

  #lg h4 {
    font-size: 28px;
    margin-bottom: 25px;
  }
}
